.navbar-default {
    background-color: #b4c157;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: black;
}

.container .row .col-md-4 {
    text-align: center;
    font-weight: bold;
}

.container .row .col-md-4 > p {
    font-weight: normal;
}

.glyphidiv {
    margin: 50px 0;
}

.main-description {
    margin: 1em 0;
}

.main-description h2 {
    text-align: center;
}